.mat-dialog-title {
    text-align: center;
}

.mat-dialog-actions {
    text-align: center;
}

.authBlock {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }

.full-width { 
    width: 100%;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-right: 0;
    margin-left: 0;
  }

.mat-raised-button {
    width: 100%;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-right: 0;
    margin-left: 0;
  }

.router-link {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-right: 0;
    margin-left: 0;
}

a {
    cursor: pointer;
    text-decoration: underline;
    color: yellow;
}

/* a:link {
    
}
  

a:visited {
    color: #4E1E86;
} */

