table {
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 0em;
  margin-bottom: 0em;
  width: 98%;
  border-radius: 10px;
  }

mat-progress-bar {
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 1em;
  margin-bottom: 0em;
}

//desktop paddings

.mat-header-cell {
    padding: 2em;
  }

.mat-mat-header-row {
    padding: 2em;
  }

.mat-cell {
  padding: 2em;
}

.mat-row {
  padding: 2em;
}

// mobile paddings

.is-mobile .mat-header-cell {
  padding: 1em;
}

.is-mobile .mat-mat-header-row {
  padding: 1em;
}

.is-mobile .mat-cell {
padding: 1em;
}

.is-mobile .mat-row {
padding: 1em;
}

// desktop column width

.mat-column-app {
  flex: 0 0 10%;
  width: 10%
}

.mat-column-releaseDate {
  flex: 0 0 10%;
  width: 10% 
}

.mat-column-version {
  flex: 0 0 10%;
  width: 10%
}

.mat-column-releaseNotes {
  flex: 0 0 70%;
  width: 70%
}

// mobile column width

// .is-mobile .mat-column-app {
//   flex: 0 0 15%;
//   width: 15%
// }

// .is-mobile .mat-column-releaseDate {
//   flex: 0 0 35%;
//   width: 35%
// }

// .is-mobile .mat-column-version {
//   flex: 0 0 10%;
//   width: 10%
// }

// .is-mobile .mat-column-releaseNotes {
//   flex: 0 0 40%;
//   width: 40%
// }