
<mat-grid-list cols="1" rowHeight="2em">
  <mat-grid-tile colspan="1">
    <mat-progress-bar *ngIf="isLoading" color="accent" mode="buffer"></mat-progress-bar>
  </mat-grid-tile>
</mat-grid-list>

<table mat-table id='report-table' [dataSource]="table_data" [class.is-mobile]="mobileQuery.matches" >

    <ng-container matColumnDef="os">
      <th mat-header-cell *matHeaderCellDef>OS</th>
      <td mat-cell *matCellDef="let report">{{report.os}}</td>
    </ng-container>

    <ng-container matColumnDef="appNameText">
      <th mat-header-cell *matHeaderCellDef>App</th>
      <td mat-cell *matCellDef="let report">{{report.appNameText}}</td>
    </ng-container>

    <ng-container matColumnDef="releaseDateText">
      <th mat-header-cell *matHeaderCellDef>Date</th>
      <td mat-cell *matCellDef="let report">{{report.releaseDateText}}</td>
    </ng-container>

    <ng-container matColumnDef="versionText">
      <th mat-header-cell *matHeaderCellDef>Version</th>
      <td mat-cell *matCellDef="let report">{{report.versionText}}</td>
    </ng-container>

    <ng-container matColumnDef="releaseNotesText">
      <th mat-header-cell *matHeaderCellDef>Release Notes</th>
      <td mat-cell *matCellDef="let report">{{report.releaseNotesText}}</td>
    </ng-container>

    <ng-container matColumnDef="subscribe">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let report">
        <button 
        mat-stroked-button 
        color="primary" 
        class="subcription-button"
        (click)="subscribeToApp(report.storedAppID)">
        Subscribe
      </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="col_names"></tr>
    <tr mat-row *matRowDef="let row; columns: col_names;"></tr>
  </table>
