
<form class="android-request-sender-form" #AndroidRequestSender=ngForm (ngSubmit)="sendAndroidRequest()">
  <mat-form-field class="chip-list">
    <mat-chip-list #chipList aria-label="app IDs">
      <mat-chip *ngFor="let id of ids" [selectable]="selectable"
               [removable]="removable" (removed)="remove(id)">
               {{id.storedAppID}}
        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
      </mat-chip>
      <input 
             [matChipInputFor]="chipList"
             [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
             [matChipInputAddOnBlur]="addOnBlur"
             (matChipInputTokenEnd)="add($event)">
    </mat-chip-list>
  </mat-form-field>

  <button 
    mat-stroked-button 
    type="submit" 
    color="primary" 
    (click)="openSnackBar(); callProgressBar()"
    class="submit-button"
  >
  Check PlayStore
  </button>
  <br>
  <br>

</form>