 
  h1 {
    font-size: larger;
    margin-bottom: 1em;
    margin-left: 0.2em;
  }


  .spacer {
    flex: 1 1 auto;
  }


  .login-button {
    margin-bottom: 2em;
  }

  .dashboard-admin {
    // display: flex;
    // flex-direction: column;
    // position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .responsive-toolbar {
    // min-height: 3em;
    padding-top: 1em;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
  }


  table {
    width: 100%;
    border-radius: 10px;
    position: absolute;
    // top: 0px;
    // left: 0px;
    }

  td {
    padding-left: 1em;
  }

  .dashboard-admin {
    background-color:#E5E5E5;
  }