<mat-toolbar>
    
    <h1 class = "dot" *ngIf="(isDesktop | async)?.matches">.</h1>
    <h1 *ngIf="(isDesktop | async)?.matches">Zaibatsu Store Scout</h1>

    <h1 class = 'dot-mobile' *ngIf="(isMobile | async)?.matches">.</h1>
    <h1 class = 'h1-mobile' *ngIf="(isMobile | async)?.matches">Zaibatsu Store Scout</h1>

    <span class="spacer"></span>


    <button mat-raised-button color="primary" 
    *ngIf="authService.isLoggedIn==true; else notLoggenIn" 
    (click)="authService.SignOut()">
      Log Out
    </button>
    <ng-template #notLoggenIn>
      <button 
      mat-raised-button color="primary"
      (click)="openSignUpDialog()">
        Get app updates
      </button>
    </ng-template>

</mat-toolbar>

<div class = "container">

    <div class = row>

        <div class = 'bg-mobile' *ngIf="(isMobile | async)?.matches">
            <h2 class = "tagline-mobile">
                <span>
                    Get competitors'
                </span>
                <br>
                <span>
                    mobile app updates
                </span>
                <br>
                <span>
                    to your email
                </span>
                <br>
                <span>
                    for free
                </span>
            </h2>
        </div>

        <div class = "bg" *ngIf="(isDesktop | async)?.matches">

            <h2 class = "tagline">
                <span>
                    Get competitors'
                </span>
                <br>
                <span>
                    mobile app updates
                </span>
                <br>
                <span>
                    to your email
                </span>
                <br>
                <span>
                    for free
                </span>
            </h2>

        </div>
    </div>

    <div class="row light-block" *ngIf="(isDesktop | async)?.matches">
        <mat-grid-list cols="3" rowHeight="2:1">
            <mat-grid-tile>
                <h3 class = 'sub-tagline-center'>
                    <img src="../../assets/img/search.png" alt="monitor">
                    <br>
                    <span>
                        Store Scout <span>monitors</span>
                    </span>
                    <br>
                    <span>
                        web and mobile apps
                    </span>
                </h3>
            </mat-grid-tile>

            <mat-grid-tile>
                <h3 class = 'sub-tagline-center'>
                    <img src="../../assets/img/notifications.png" alt="notifications">
                    <br>
                    <span>
                        You get <span>notified</span>
                    </span>
                    <br>
                    <span>
                        about the changes
                    </span>
                </h3>
            </mat-grid-tile>
            
            <mat-grid-tile>
                <h3 class = 'sub-tagline-center' rowHeight="2:1">
                    <img src="../../assets/img/smile.png" alt="smile">
                    <br>
                    <span>
                        This <span>saves</span> 
                    </span>
                    <br>
                    <span>
                        your time and money
                    </span>
                </h3>
            </mat-grid-tile>
        </mat-grid-list>
    </div>


    <div class="row light-block" *ngIf="(isMobile | async)?.matches">
        <br>
        <h3 class = 'sub-tagline-center-mobile'>
            <img src="../../assets/img/search.png" alt="monitor">
            <br>
            <span>
                Store Scout <span>monitors</span>
            </span>
            <br>
            <span>
                web and mobile apps
            </span>
        </h3>
        <br>
        <h3 class = 'sub-tagline-center-mobile'>
            <img src="../../assets/img/notifications.png" alt="notifications">
            <br>
            <span>
                You get <span>notified</span>
            </span>
            <br>
            <span>
                about the changes
            </span>
        </h3>
        <br>
        <h3 class = 'sub-tagline-center-mobile'>
            <img src="../../assets/img/smile.png" alt="smile">
            <br>
            <span>
                This <span>saves</span> 
            </span>
            <br>
            <span>
                your time and money
            </span>
        </h3>
        <br>
    </div>


    <div class="row dark-block" *ngIf="(isDesktop | async)?.matches">
        <mat-grid-list cols="3" rowHeight="1:1">
            <mat-grid-tile colspan="2">
                <img class = "example-img-left" src="../../assets/img/store-scout-example.png" alt="store-scout-example">
            </mat-grid-tile>
            
            <mat-grid-tile colspan="1">
                <p class = "text-block">
                    <span class = 'bigger-text'>
                        Tailor your subscription list
                    </span>
                    <br>
                    <span class = 'bigger-text'>
                        of both <span>iOS and Android</span> apps
                    </span>
                    <br>
                    <br>
                    <span class = "smaller-text">
                        &#9679; Copy and paste URLs of the apps' store pages
                    </span>
                    <br>
                    <br>
                    <span class = "smaller-text">
                        &#9679; Start the Scout and get the update in less than <span>30 seconds</span>
                    </span>
                    <br>
                    <br>
                    <span class = "smaller-text">
                        &#9679; Subscribe to apps you are interested in
                    </span>
                    <br>
                    <br>
                    <button mat-raised-button color="primary" 
                        *ngIf="authService.isLoggedIn==false;" 
                        (click)="openSignUpDialog()">
                        Try now, it's free
                    </button>
                </p>
            </mat-grid-tile>
        </mat-grid-list>
    </div>

    <div class="row dark-block-mobile" *ngIf="(isMobile | async)?.matches">
        <br>
        <img class = "example-img-center-mobile" src="../../assets/img/store-scout-example-mobile.png" alt="store-scout-example-mobile">
        <br>
        <p class = "text-block">
            <span class = 'bigger-text-mobile'>
                Tailor your subscription list
            </span>
            <br>
            <span class = 'bigger-text-mobile'>
                of both <span>iOS and Android</span> apps
            </span>
            <br>
            <br>
            <span class = "smaller-text-mobile">
                &#9679; Copy and paste URLs of the apps' store pages
            </span>
            <br>
            <br>
            <span class = "smaller-text-mobile">
                &#9679; Start the Scout and get the update in less than <span>30 seconds</span>
            </span>
            <br>
            <br>
            <span class = "smaller-text-mobile">
                &#9679; Subscribe to apps you are interested in
            </span>
            <br>
            <br>
            <button mat-raised-button color="primary" 
                *ngIf="authService.isLoggedIn==false;" 
                (click)="openSignUpDialog()">
                Try now, it's free
            </button>
            <br>
        </p>
    </div>

    <div class="row dark-block" *ngIf="(isDesktop | async)?.matches">
        <mat-grid-list cols="3" rowHeight="1:1">
            <mat-grid-tile colspan="1">
                <p class = "text-block">
                    <span class = 'bigger-text'>
                        <span>Automated</span> mobile app updates 
                    </span>
                    <br>
                    <span class = 'bigger-text'>
                        to your inbox
                    </span>
                    <br>
                    <br>
                    <span class = "smaller-text">
                        &#9679; Apps you subscribed to are checked on the stores <span>every day</span>
                    </span>
                    <br>
                    <br>
                    <span class = "smaller-text">
                        &#9679; You get emails with new release notes immediately
                    </span>
                    <br>
                    <br>
                    <span class = "smaller-text">
                        &#9679; No need to manually check the stores and compare versions
                    </span>
                    <br>
                    <br>
                    <button mat-raised-button color="primary" 
                        *ngIf="authService.isLoggedIn==false;" 
                        (click)="openSignUpDialog()">
                        Start getting updates today
                    </button>
                </p>
            </mat-grid-tile>
            <mat-grid-tile colspan="2">
                <img class = "example-img-right" src="../../assets/img/automated-report.png" alt="store-scout-example">
            </mat-grid-tile>
        </mat-grid-list>
    </div>


    <div class="row dark-block-mobile" *ngIf="(isMobile | async)?.matches">
        <img class = "example-img-center-mobile" src="../../assets/img/automated-report-mobile.png" alt="automated-report-mobile">
        <br>
                <p class = "text-block">
                    <span class = 'bigger-text-mobile'>
                        <span>Automated</span> mobile app updates
                    </span>
                    <br>
                    <span class = 'bigger-text-mobile'>
                        to your inbox
                    </span>
                    <br>
                    <br>
                    <span class = "smaller-text-mobile">
                        &#9679; Apps you subscribed to are checked on the stores <span>every day</span>
                    </span>
                    <br>
                    <br>
                    <span class = "smaller-text-mobile">
                        &#9679; You get emails with new release notes immediately
                    </span>
                    <br>
                    <br>
                    <span class = "smaller-text-mobile">
                        &#9679; No need to manually check the stores and compare versions
                    </span>
                    <br>
                    <br>
                    <button mat-raised-button color="primary" 
                        *ngIf="authService.isLoggedIn==false;" 
                        (click)="openSignUpDialog()">
                        Start getting updates today
                    </button>
                </p>
                <br>
    </div>


    <div class="row dark-block" *ngIf="(isDesktop | async)?.matches">
        <br>
        <br>
        <mat-grid-list cols="3" rowHeight="1:1">
            <mat-grid-tile colspan="2">
                <img class = "example-img-left" src="../../assets/img/ui-scout-example.png" alt="store-scout-example">
            </mat-grid-tile>
            
            <mat-grid-tile colspan="1">
                <p class = "text-block">
                    <span class = 'bigger-text'>
                        What about <span>web apps</span> monitoring?
                    </span>
                    <br>
                    <span class = 'bigger-text'>
                        That's also possible!
                    </span>
                    <br>
                    <br>
                    <span class = "smaller-text">
                        &#9679; We write custom scripts to monitor websites and web apps
                    </span>
                    <br>
                    <br>
                    <span class = "smaller-text">
                        &#9679; Changes detected are analyzed, so you get <span>concentrated information</span> instead of raw feed
                    </span>
                    <br>
                    <br>
                    <span class = "smaller-text">
                        &#9679; Reach out to <a class='link' href="mailto:hi@zaibatsu.fyi">hi@zaibatsu.fyi</a> to get a quote
                    </span>
                </p>
            </mat-grid-tile>
        </mat-grid-list>
        <br>
        <br>
    </div>


    <div class="row dark-block-mobile" *ngIf="(isMobile | async)?.matches">

        <img class = "example-img-center-mobile" src="../../assets/img/ui-scout-example-mobile.png" alt="store-scout-example">

        <br>
        <p class = "text-block">
            <span class = 'bigger-text-mobile'>
                What about <span>web apps</span> monitoring?
            </span>
            <br>
            <span class = 'bigger-text-mobile'>
                That's also possible!
            </span>
            <br>
            <br>
            <span class = "smaller-text-mobile">
                &#9679; We write custom scripts to monitor websites and web apps
            </span>
            <br>
            <br>
            <span class = "smaller-text-mobile">
                &#9679; Changes detected are analyzed, so you get <span>concentrated information</span> instead of raw feed
            </span>
            <br>
            <br>
            <span class = "smaller-text-mobile">
                &#9679; Reach out to <a class='link' href="mailto:hi@zaibatsu.fyi">hi@zaibatsu.fyi</a> to get a quote
            </span>
        </p>
    </div>


    <div class = 'row light-block' *ngIf="(isDesktop | async)?.matches">
        <mat-grid-list cols="6" rowHeight="1:1">
            <mat-grid-tile colspan='1'>
                <img src="../../assets/img/andrei-small.jpg" alt="andrei" class='example-img-center-round'>
            </mat-grid-tile>
            <mat-grid-tile colspan='2'>
                <p class = "left-absolute">
                    <span class = 'bigger-text'>
                        Questions? Suggestions?
                    </span>
                    <br>
                    <span class = "x-smaller-text">
                        Andrei Chepelev, Zaibatsu founder
                    </span>
                    <br>
                    <br>
                    <span class = "x-smaller-text">
                        <a class='link' href="https://www.linkedin.com/in/andrey-chepelev-6209941b7/">Linkedin </a> &#9679;
                        <a class='link' href="https://www.facebook.com/pirunpoika/"> Facebook </a> &#9679;
                        <a class='link' href="https://github.com/andreichepelev"> Github</a>
                    </span>
                    <br>
                        <span class = "x-smaller-text">
                            <a class='link' href="mailto:andrei@zaibatsu.fyi">andrei@zaibatsu.fyi</a>
                        </span>
                    <br>
                    <br>
                    <span class='x-smaller-text'>
                        MPG Europe OÜ &#9679; Sepapaja tn 6
                    </span>
                    <br>
                    <span class='x-smaller-text'>
                        Tallinn 15551 Estonia
                    </span>
                </p>
            </mat-grid-tile>
            <mat-grid-tile colspan='2'>
            </mat-grid-tile>
            <mat-grid-tile colspan='1'>
                <span class='bottom-absolute'>
                    .fyi
                </span>
            </mat-grid-tile>
        </mat-grid-list>
    </div>

    <div class = 'row light-block' *ngIf="(isMobile | async)?.matches">
        <br>
        <img src="../../assets/img/andrei-small.jpg" alt="andrei" class='example-img-center-mobile-round'>
        <br>
        <h3 class = 'sub-tagline-center-mobile'>
            Questions? Suggestions?
        </h3>
        <p class = "x-smaller-text-mobile">
            Andrei Chepelev, Zaibatsu founder
        </p>
        <p class = "x-smaller-text-mobile">
            <a class='link' href="https://www.linkedin.com/in/andrey-chepelev-6209941b7/">Linkedin </a> &#9679;
            <a class='link' href="https://www.facebook.com/pirunpoika/"> Facebook </a> &#9679;
            <a class='link' href="https://github.com/andreichepelev"> Github</a>
        </p>
        <p class = "x-smaller-text-mobile">
            <a class='link' href="mailto:andrei@zaibatsu.fyi">andrei@zaibatsu.fyi</a>
        </p>
        <br>
        <br>
        <p class = "x-smaller-text-mobile">
            MPG Europe OÜ &#9679; Sepapaja tn 6
        </p>
        <p class = "x-smaller-text-mobile">
            Tallinn 15551 Estonia
        </p>
        <br>
        <br>
        <p class="x-smaller-text-mobile">
            <span>.fyi</span>
        </p>
        <br>
    </div>

</div>



