<h3 mat-dialog-title>Confirm subscription cancellation</h3>
<mat-dialog-content class="mat-typography">
    <p>
        You will no longer receive emails with the updates of the following apps:
        <br>
        <br>
        - Facebook
        <br>
        - Instagram
        <br>
        - Github
    </p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button mat-dialog-close>Unsubscribe</button>
</mat-dialog-actions>