<p class="subtitle">
    You are subscribed to the apps listed below &
    <br>will receive emails after their new versions
    <br>are released. To unsubscribe, select one or
    <br>several apps, then click the Remove button.
</p>
<mat-selection-list #apps (selectionChange)="onSelectionChange()">
    <mat-list-option *ngFor="let app of stringArray" [value]="app">
      {{app}}
    </mat-list-option>
</mat-selection-list>
<br>
<button 
    *ngIf="areSelected"
    class='remove-button' 
    (click)="deleteSelected()"
    mat-stroked-button color="primary"
    (click)="openConfirmationDialog()">
    Remove from list
</button>