<p class="subtitle" *ngIf="appList.length > 0">
    You are subscribed to the apps listed below & will receive emails after any versions with new release notes are out in the stores.
    <br>
    <br>
    To unsubscribe, select one or several apps, then click the Unsubscribe button.
</p>

<p class="subtitle" *ngIf="appList.length == 0">
    You haven't subscribed to any apps.
    <br>
    <br>
    To subscribe to an app, paste one or more AppStore or PlayStore URLs to respective input fields in the "Check Stores" tab, check them and press Subscribe, then refresh the page. All your subscriptions will be listed below.
</p>

<form class="app-list-form" #AppList=ngForm (ngSubmit)="unsubscribeFromSelected()">
    <mat-selection-list #apps (selectionChange)="onSelectionChange()">
        <mat-list-option *ngFor="let app of appList" [value]="app">
          {{app.appNameText}}, {{app.os}}
        </mat-list-option>
    </mat-selection-list>
    <br>
    <button 
        *ngIf="areSelected"
        type="submit" 
        class='remove-button'
        mat-stroked-button color="primary" 
        (click)="openSnackBar()">
        Unsubscribe
    </button>
</form>