<div class='dashboard'>

  <mat-toolbar class='responsive-toolbar'>
    <button mat-icon-button class='burger' color="primary" aria-label="Menu" (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>

    <h1>Store Scout</h1>
    
    <span class="spacer"></span>

    <!-- Logged in user icon -->
    <!-- <span *ngIf="authService.isLoggedIn==true">
      <span class="user-email" *ngIf="authService.userData as user">
        <mat-icon class="user-icon">person</mat-icon>
        <span class="user-email">{{user.email}}</span>
      </span>
    </span> -->

    <button mat-raised-button color="primary"
    class='login-button' 
    *ngIf="authService.isLoggedIn==true; else notLoggenIn" 
    (click)="authService.SignOut()">
      Log Out
    </button>

    <ng-template #notLoggenIn>
      <button 
      class='login-button' 
      mat-raised-button color="primary"
      (click)="openLogInDialog()">
        Log In
      </button>
    </ng-template> 

</mat-toolbar>


<mat-sidenav-container class='responsive-sidenav'>

  <mat-sidenav mode="side" opened #sidenav 
  [mode]="mobileQuery.matches ? 'over' : 'side'">
    <mat-tab-group>
      <mat-tab label="AppStore">
        <br>
        <span class = 'bigger-text'>
          Paste IDs of the apps you wish to 
        </span>
        <br>
        <span class = 'bigger-text'>
          monitor into the field below:
        </span>
        <br>
        <br>
        <p>
        <app-apple-id-chips></app-apple-id-chips>
        </p>
      </mat-tab>
  
      <mat-tab label="PlayStore">
        
        <br>
        <span class = 'bigger-text'>
          Paste IDs of the apps you wish to
        </span>
        <br>
        <span class = 'bigger-text'>
          monitor into the field below:
        </span>
        <br>
        <br>
        <p>
          <app-google-id-chips></app-google-id-chips>
        </p>    
      </mat-tab>

    </mat-tab-group>
  </mat-sidenav>
  
  <mat-sidenav-content>
    <!-- <button mat-button (click)="openLogInDialog()">Open dialog</button> -->
    <h2 class="report-title">Here's what's new:</h2>
    <app-table></app-table>
  </mat-sidenav-content>

</mat-sidenav-container>

</div>

