<div class='dashboard'>

  <mat-toolbar class='responsive-toolbar'>
    <button mat-icon-button class='burger' color="primary" aria-label="Menu" (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>

    <h1>Store Scout</h1>
    
    <span class="spacer"></span>

    <!-- Logged in user icon -->
    <!-- <span *ngIf="authService.isLoggedIn==true">
      <span class="user-email" *ngIf="authService.userData as user">
        <mat-icon class="user-icon">person</mat-icon>
        <span class="user-email">{{user.email}}</span>
      </span>
    </span> -->

    <button mat-button color="primary"
    class='login-button' 
    *ngIf="authService.isLoggedIn==true; else notLoggenIn" 
    (click)="authService.SignOut()">
      Log Out
    </button>

    <ng-template #notLoggenIn>
      <button 
      class='login-button' 
      mat-raised-button color="primary"
      (click)="openLogInDialog()">
        Log In
      </button>
    </ng-template> 

</mat-toolbar>


<mat-sidenav-container class='responsive-sidenav'>

  <mat-sidenav mode="side" opened #sidenav 
  [mode]="mobileQuery.matches ? 'over' : 'side'">
    <mat-tab-group class='responsive-mat-tab'>
      <mat-tab label="Check stores" class='responsive-mat-tab'>
        <br>
        <span class = 'bigger-text'>
          Paste Apple URLs:
        </span>
        <br>
        <br>
        <p>
        <app-apple-id-chips></app-apple-id-chips>
        </p>
        <br>
        <br>
        <br>
        <br>
        <span class = 'bigger-text'>
          Paste Google URLs:
        </span>
        <br>
        <br>
        <p>
          <app-google-id-chips></app-google-id-chips>
        </p>
        <br>
        <br>
        <div class = "myCustomHeading">
          <mat-icon>play_circle_outline</mat-icon>
          <a href="https://youtu.be/uCZMeQ2X6Wo" target="_blank">How-to video explainer</a>  
        </div>
        <div class = "myCustomHeading">
          <mat-icon>help_outline</mat-icon>
          <a class='link' href="mailto:andrei@zaibatsu.fyi">andrei@zaibatsu.fyi</a> 
        </div>

        

      </mat-tab>
  
      <mat-tab label="Subscriptions">
        <br>
        <app-subscription-list></app-subscription-list>
        <br>
      </mat-tab>

    </mat-tab-group>
  </mat-sidenav>
  
  <mat-sidenav-content>
    <!-- <button mat-button (click)="openLogInDialog()">Open dialog</button> -->
    <mat-grid-list cols="7" rowHeight="4em">
      <mat-grid-tile colspan="3">
        <h2 class="report-title">Updates</h2>
      </mat-grid-tile>

      <mat-grid-tile colspan="1">
      </mat-grid-tile>

      <mat-grid-tile colspan="3">
        <!-- mass subscription button, disabled so far, maybe needs to be removed later -->
        <!-- <button 
          *ngIf="doesTableContainApps" 
          mat-raised-button color="primary" 
          class="subcription-button"
          (click)="subscribe()">
          Subscribe
        </button> -->
      </mat-grid-tile>
    </mat-grid-list>

    <app-table></app-table>
  </mat-sidenav-content>

</mat-sidenav-container>

</div>

