@import '~@angular/material/theming';
@include mat-core();

$store-scout-primary: mat-palette($mat-yellow, 600, 500, 700);
$store-scout-accent:  mat-palette($mat-yellow, 600, 500, 700);
$store-scout-warn:    mat-palette($mat-red);

$store-scout-theme: mat-dark-theme((
  color: (
    primary: $store-scout-primary,
    accent: $store-scout-accent,
    warn: $store-scout-warn,  
  )
));

@include angular-material-theme($store-scout-theme);